.completed{
  text-decoration: line-through;
  color: #444;
}
.selected{
  background-color: #593196 !important;
  color: #fff !important;
}
.selected-completed{
  text-decoration: line-through;
  color: #fff;
}
