<ul class="list-group list-group-flush" *ngIf="tasks.length != 0">
  <li
      class="list-group-item"
      *ngFor="let task of tasks"
      (dblclick)="selectTask(task)"
      [ngClass]="{'selected': selectedTask != undefined && task.heading == selectedTask.heading}">
    <div
        class="row"
        [ngClass]="{
          'completed': task.completed,
          'selected-completed': task.completed && selectedTask != undefined && task.heading == selectedTask.heading
        }"
        style="display: table;margin-left: 5px;">
      <div class="col-10" style="display: table-cell">
        <input
            class="form-check-input"
            type="checkbox"
            (click)="completeTask(task)"
            [checked]="task.completed">
        {{task.heading}}
      </div>
      <div class="col-2" style="display: table-cell">
        <button
            type="button"
            class="btn btn-block btn-danger"
            [disabled]="removingTask"
            (click)="removeTask(task)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
    <div
        class="row"
        style="padding-left: 20px;"
        [style.color]="(selectedTask != undefined && task.heading == selectedTask.heading)? '#fff' : '#444' ">
      <div class="col" *ngIf="task.content != ''">
        <p style=" margin-bottom: 0px;"><i class="fas fa-sticky-note"></i> Content</p>
      </div>
      <div class="col" *ngIf="task.image != undefined">
        <p style=" margin-bottom: 0px;"><i class="fas fa-paperclip"></i> Image</p>
      </div>
    </div>
  </li>
  <li *ngIf="addingTask || removingTask || updatingTask" style="list-style: none; padding: 12px 15px;">
    <div>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </li>
  <li class="" *ngIf="!addingTask" style="list-style: none;" [style.padding]=" showAddForm? '12px 15px' : '12px 0px' ">
    <form [formGroup]="addTaskForm" *ngIf="showAddForm">
      <div class="row">
        <div class="form-group col-7" style="padding: 0px 0px">
          <input type="text" placeholder="What do You Want to Do?" class="form-control" formControlName="heading">
          <div
              class="help-block"
              *ngIf="addTaskForm.controls['heading'].errors?.required && addTaskForm.controls['heading'].dirty"
              style="color: red;">
            Task Heading is Required Field!
          </div>
          <br *ngIf="checkingAvailability">
          <div *ngIf="checkingAvailability">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div
            class="help-block"
            *ngIf="addTaskForm.controls['heading'].errors?.taskIsInvalid && addTaskForm.controls['heading'].dirty"
            style="color: red;">
            <b>{{addTaskForm.controls['heading'].value}}</b> is already present! Kindly Enter Unique Task!
          </div>
        </div>
        <div class="col-3" style="padding: 0px 2px">
          <button
              type="submit"
              class="btn btn-block btn-primary"
              [disabled]="addTaskForm.invalid || checkingAvailability"
              (click)="saveAdd()">
            Add Task
          </button>
        </div>
        <div class="col-2" style="padding: 0px 2px">
          <button
              type="submit"
              class="btn btn-block btn-dark"
              (click)="toggleAddForm()">
            Cancel
          </button>
        </div>
      </div>
    </form>
    <button
        type="button"
        class="btn btn-large btn-outline-dark"
        *ngIf="!showAddForm"
        (click)="toggleAddForm()">
      <i class="fas fa-plus"></i> Add New Task
    </button>
  </li>
</ul>
